.topper{
    margin-right: -850px;
}
.Pic img{
    width: 70px;
    height:90px;
    margin-top: 3.5rem;
 }
 .Intro p{
     color: goldenrod;
     margin-left: 400px;
     margin-right:-500px;
 
 }
 #MyEducation img{
    width:90px;
    height:90px;
 
 }
 #MyEducation button{
    margin-left: 400px;
    margin-right: -600px;
 }
 #MyAchievements p{
    margin-right: -50px;  
}
 #MyAchievements {
    margin-right: -650px;
 }
 
 #MySkills h1{
    margin-right: -600px;
 }
 .skill {
    margin-left: -60px;
    margin-right: -1000px;
 }
 #ContactMe h1{
    margin-left: -100px;
    margin-right: -300px;
 }
 .footer{
    margin-left: 600px;
    margin-right: -400px;
}