*{    margin:0;
    padding:0;
}
.btn-group-vertical {
    color:black;
    position:absolute;
    margin-top: 1px;
    border-color: aliceblue;
    border-radius: 15px;
    border: 1px solid goldenrod;
    box= height:5000px ; width:300px ;
    padding: 1590px 40px;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.



   

